* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  font-family: 'Inter', sans-serif;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
